.App {
  height: 100vh;
  width: 100%;

  * {
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    background-color: #ffaaaa;
    padding: 1.5rem;
    border-radius: 2rem;
    gap: 1rem;
    border: 0.4rem solid #994444;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_h {
    flex-direction: row;
  }
}

.button {
  &:hover {
    cursor: pointer;
  }
}

.icon > * {
  font-size: 2rem;
}

.timer {
  width: 15rem;
  gap: 0.2rem;

  &__setting_wrapper {
    cursor: pointer;
    gap: 0.3rem;
    &__outer {
      gap: 2rem;
    }
  }

  &__controler {
    gap: 1rem;
    & > * {
      border-radius: 2rem;
      &:hover {
        background-color: #994444;
        color: white;
      }
    }
  }

  &__label {
    text-transform: capitalize;
    text-align: center;

    #current-timer & {
      text-transform: lowercase;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  &__length {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-size: 2.5rem;
    width: 3rem;
    text-align: center;

    #current-timer & {
      font-size: 3rem;
      width: 15rem;
    }
  }
}

.hidden {
  color: transparent;
}
